GROUP FINAL SQL PROJECT

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2, os

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Create Connection

In [ ]:
# Define the connection URL:
conn_url = 'postgresql://postgres:123@localhost:5432/5310_test5'

# Create an engine that connects to PostgreSQL:
engine = create_engine(conn_url)

# Establish a connection:
connection = engine.connect()

OperationalError: ignored

Insert Table

In [ ]:
stmt = """
   CREATE TABLE complaint_type
(
type_id integer,
complaint_type varchar(50),
primary key (type_id)
);
    
CREATE TABLE complaint_descriptor
(descriptor_id integer, 
 descriptor varchar(100),
 primary key (descriptor_id)
);

CREATE TABLE agency
( agency_id integer,
 agency varchar(50),
 agency_name varchar(100),
 primary key (agency_id)
);

CREATE TABLE park (
 park_id int primary key,
 park_facility varchar(50),
 park_borough varchar(30)
);

CREATE TABLE geobased_Location (
 geolocation_id int primary key,
 latitude decimal (9,6),
 longitude decimal (9,6),
 location varchar(60)
);

CREATE TABLE location_type (
 location_type_id int primary key,
 location_type varchar(30)
);


CREATE TABLE channels
(
 channel_id integer,
 open_data_channel_type varchar(30),
 primary key(channel_id)
);

CREATE TABLE bridge_highway (
 bridge_highway_id int primary key,
 bridge_highway_name varchar(100),
 bridge_highway_direction varchar(255),
 road_ramp varchar(100),
 bridge_highway_segment varchar(100)
);

CREATE TABLE timerecord
(unique_key integer,
 created_date date,
 due_date date,
 closed_date date,
 status varchar(20),
  primary key (unique_key)
);

CREATE TABLE address
(
 address_id integer,
 incident_zip integer,
 incident_address varchar(100),
 street_name varchar(50),
 cross_street varchar(50),
 intersection_street varchar(50),
 city varchar(20),
 landmark varchar(50),
 PRIMARY KEY (address_id)
);


CREATE TABLE complaint_agency
(type_id integer,
 unique_key integer,
 descriptor_id integer,
 agency_id integer,
 PRIMARY KEY (type_id,unique_key,descriptor_id,agency_id),
 FOREIGN KEY (type_id) REFERENCES complaint_type,
 FOREIGN KEY (unique_key) REFERENCES timerecord,
 FOREIGN KEY (descriptor_id) REFERENCES complaint_descriptor,
 FOREIGN KEY (agency_id) REFERENCES agency
);


CREATE TABLE request_channel
(
 unique_key integer,
 channel_id integer,
 PRIMARY KEY (unique_key,channel_id),
 FOREIGN KEY (unique_key) REFERENCES timerecord,
 FOREIGN KEY (channel_id) REFERENCES channels
);


CREATE TABLE resolutions
( resolution_id integer,
 resolution_description varchar(1000),
 primary key (resolution_id)
);


CREATE TABLE request_resolution
( unique_key integer,
 resolution_id integer,
 resolution_action_update_date date,
 primary key (unique_key,resolution_id),
 FOREIGN KEY (unique_key) REFERENCES timerecord,
 FOREIGN KEY (resolution_id) REFERENCES resolutions
);


CREATE TABLE bh_incident
( bhincident_id int,
  bridge_highway_id int,
  unique_key int,
  primary key(bhincident_id),
  foreign key(bridge_highway_id)references bridge_highway,
  foreign key(unique_key)references timerecord
);


CREATE TABLE park_incident
( pincident_id int,
  park_id int,
  unique_key int,
  primary key(pincident_id),
  foreign key(park_id)references park,
  foreign key(unique_key)references timerecord   
);

CREATE TABLE geovalidation
( geolocation_id int,
  community_board varchar(50),
  bbl varchar(20),
  borough varchar(50),
  x_coordinate decimal (10,2),
  y_coordinate decimal (10,2),
  primary key(geolocation_id)   
);

CREATE TABLE incident_address
( unique_key int,
  address_id int,
  location_type_id int,
  geolocation_id int,
  foreign key(unique_key)references timerecord,
  foreign key(address_id)references address,
  foreign key(location_type_id)references location_type,
  foreign key(geolocation_id)references geovalidation    
);
    
"""

connection.execute(stmt)

In [ ]:
data = pd.read_csv('311_Service_Requests_from_2010_to_Present.csv',encoding='latin-1')

In [ ]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,53821441,04/04/2022 12:00:03 AM,04/04/2022 12:10:07 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10466.0,655 EAST 230 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.891872,-73.860168,"(40.89187241649303, -73.86016845296459)"
1,53818157,04/04/2022 12:00:07 AM,04/04/2022 01:23:48 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,10006.0,8 ALBANY STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.709339,-74.013548,"(40.709338746168726, -74.0135477315626)"
2,53825706,04/04/2022 12:00:37 AM,04/06/2022 03:02:03 PM,HPD,Department of Housing Preservation and Develop...,WATER LEAK,HEAVY FLOW,RESIDENTIAL BUILDING,10031.0,385 CONVENT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.825544,-73.945555,"(40.82554448094587, -73.94555545011174)"
3,53823230,04/04/2022 12:00:48 AM,04/06/2022 04:17:01 PM,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11226.0,175 LOTT STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.645624,-73.954041,"(40.64562415760308, -73.95404079427699)"
4,53818619,04/04/2022 12:00:57 AM,04/04/2022 02:45:47 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11385.0,1711 HARMAN STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705003,-73.913785,"(40.70500346596463, -73.91378488668434)"

1.Resolutions table

In [ ]:
#drop the duplicate value in the dataset and then create a table for detailed resolution
Resolutions_data = pd.DataFrame(data['Resolution Description'].unique(), columns=['resolution_description'])
Resolutions_data.insert(0, 'resolution_id', range(1, 1 + len(Resolutions_data)))

In [ ]:
Resolutions_data.to_sql(name='resolutions', con=engine, if_exists='append', index=False)

324

2.Timerecord table

In [ ]:
#This is a table about the detailed date of the incident
Timerecord_data = data[['Unique Key','Created Date', 'Due Date','Closed Date','Status']]
Timerecord_data = Timerecord_data.rename(columns={'Unique Key':'unique_key','Created Date':'created_date','Due Date':'due_date','Closed Date':'closed_date','Status':'status'})

In [ ]:
Timerecord_data.to_sql(name='timerecord', con=engine, if_exists='append', index=False)

24

3.Addresses table

In [ ]:
#This is a table about the detailed address of the incident, and I create Address_id to be the primary key
Addresses_data = data[['Incident Zip','Incident Address', 'Street Name','Cross Street 1','Intersection Street 2','City','Landmark']].drop_duplicates()
Addresses_data.insert(0, 'address_id', range(1, 1 + len(Addresses_data)))
Addresses_data = Addresses_data.rename(columns = {'Incident Zip':'incident_zip','Incident Address':'incident_address','Street Name':'street_name','Cross Street 1':'cross_street','Intersection Street 2':'intersection_street','City':'city','Landmark':'landmark'})

In [ ]:
Addresses_data.to_sql(name='address', con=engine, if_exists='append', index=False)

158

4.Agency table

In [ ]:
agency_data = data[['Agency','Agency Name']].drop_duplicates()
agency_data = agency_data.rename(columns = {'Agency':'agency','Agency Name':'agency_name'})
agency_data.insert(0, 'agency_id', range(1, 1 + len(agency_data)))

In [ ]:
agency_data.to_sql(name='agency', con=engine, if_exists='append', index=False)

14

5.Channels table

In [ ]:
data_channel = pd.DataFrame(data['Open Data Channel Type'].unique(), columns=['open_data_channel_type'])
data_channel.insert(0, 'channel_id', range(1, 1 + len(data_channel)))

In [ ]:
data_channel.to_sql(name='channels', con=engine, if_exists='append', index=False)

4

In [ ]:
6.bridge_highway

In [ ]:
bridge_highway_data = data[['Bridge Highway Name','Bridge Highway Direction','Road Ramp','Bridge Highway Segment']].drop_duplicates()
bridge_highway_data.insert(0, 'bridge_highway_id', range(1, 1 + len(bridge_highway_data)))
bridge_highway_data = bridge_highway_data.rename(columns = {'bridge_highway_id':'bridge_highway_id','Bridge Highway Name':'bridge_highway_name','Bridge Highway Direction':'bridge_highway_direction','Road Ramp':'road_ramp','Bridge Highway Segment':'bridge_highway_segment'})

In [ ]:
bridge_highway_data.to_sql(name='bridge_highway', con=engine, if_exists='append', index=False)

313

7.Park table

In [ ]:
park_data = data[['Park Facility Name','Park Borough']].drop_duplicates()
park_data = park_data.rename(columns = {'Park Facility Name':'park_facility','Park Borough':'park_borough'})
park_data.insert(0, 'park_id', range(1, 1 + len(park_data)))

In [ ]:
park_data.to_sql(name='park', con=engine, if_exists='append', index=False)

138

8.Geovalidation table

In [ ]:
col_names = ['Community Board','BBL','Borough','X Coordinate (State Plane)','Y Coordinate (State Plane)']
data_geovalidation = data[col_names].drop_duplicates()
data_geovalidation.insert(0, 'geolocation_id', range(1, 1 + len(data_geovalidation)))
data_geovalidation = data_geovalidation.rename(columns = {'Community Board':'community_board','BBL':'bbl','Borough':'borough','X Coordinate (State Plane)':'x_coordinate','Y Coordinate (State Plane)':'y_coordinate'})

In [ ]:
data_geovalidation.to_sql(name='geovalidation', con=engine, if_exists='append', index=False)

111

9.Geobased_location table

In [ ]:
col_names2 = ['Latitude', 'Longitude', 'Location']
data_geobased_location = pd.concat([data_geovalidation['geolocation_id'],
                                    data[col_names2].reset_index(drop=True)],axis = 1)
data_geobased_location = data_geovalidation.rename(columns = {'Latitude':'latitude','Longitude':'longitude','Location':'location'})
data_geobased_location.drop_duplicates()

,geolocation_id,community_board,bbl,borough,x_coordinate,y_coordinate
0,1,12 BRONX,2.048330e+09,BRONX,1022911.0,264242.0
1,2,01 MANHATTAN,1.000538e+09,MANHATTAN,980494.0,197708.0
2,3,09 MANHATTAN,1.020610e+09,MANHATTAN,999318.0,240050.0
3,4,17 BROOKLYN,3.051360e+09,BROOKLYN,997004.0,174498.0
4,5,05 QUEENS,4.034320e+09,QUEENS,1008154.0,196140.0
...,...,...,...,...,...,...
56012,32107,14 BROOKLYN,3.067450e+09,BROOKLYN,995792.0,163615.0
56017,32108,01 BROOKLYN,3.022890e+09,BROOKLYN,996409.0,202076.0
56018,32109,09 BRONX,2.037370e+09,BRONX,1016976.0,240748.0
56019,32110,09 MANHATTAN,1.020810e+09,MANHATTAN,999213.0,241184.0
56022,32111,01 BROOKLYN,3.023680e+09,BROOKLYN,996102.0,199305.0

In [ ]:
data_geobased_location.to_sql(name='geobased_Location', con=engine, if_exists='append', index=False)

111

In [ ]:
10.Location_type

In [ ]:
location_type_data = data[['Location Type']].drop_duplicates()
location_type_data = location_type_data.rename(columns = {'Location Type':'location_type'})
location_type_data.insert(0, 'location_type_id', range(1, 1 + len(location_type_data)))

In [ ]:
location_type_data.to_sql(name='location_type', con=engine, if_exists='append', index=False)

89

11.complaint_type table

In [ ]:
complaints_data = pd.DataFrame(data['Complaint Type'].unique(), columns=['complaint_type'])
complaints_data.insert(0, 'type_id', range(1, 1 + len(complaints_data)))

In [ ]:
complaints_data.to_sql(name='complaint_type', con=engine, if_exists='append', index=False)

150

12.Complaint_descriptor table

In [ ]:
#adding the complaint_id to the main dataframe, df
complaint_id_list = [complaints_data.type_id[complaints_data.complaint_type == i].values[0] for i in data['Complaint Type']]

In [ ]:
complaint_detail = pd.DataFrame(data['Descriptor'].unique(), columns=['descriptor'])
complaint_detail.insert(0, 'descriptor_id', range(1, 1 + len(complaint_detail)))

In [ ]:
complaint_detail.to_sql(name='complaint_descriptor', con=engine, if_exists='append', index=False)

602

Bridge Tables
13.complaint_agency table

In [ ]:
#merge four tables
bridge2 = pd.merge(data,agency_data,
                        how='left',
                        left_on=['Agency'], 
                        right_on = ['agency'])

bridge3 = pd.merge(bridge2,complaints_data,
                  how='left',
                  left_on=['Complaint Type'],
                  right_on=['complaint_type'])


bridge4 = pd.merge(bridge3,complaint_detail,
                  how='left',
                  left_on=['Descriptor'],
                  right_on=['descriptor'])

#create subset
data_complaint_angency = bridge4[['Unique Key','agency_id','type_id','descriptor_id']]
data_complaint_angency.columns=['unique_key','agency_id','type_id','descriptor_id']

In [ ]:
data_complaint_angency.to_sql(name='complaint_agency', con=engine, if_exists='append', index=False)

24

14.request_resolution

In [ ]:
#merge tables
bridge3 = pd.merge(data, Resolutions_data, 
                        how='left',
                        left_on=['Resolution Description'], 
                        right_on = ['resolution_description'])
#create subset
request_resolution = bridge3[['Unique Key','resolution_id','Resolution Action Updated Date']]
request_resolution.columns=['unique_key', 'resolution_id','resolution_action_update_date']

In [ ]:
request_resolution.to_sql(name='request_resolution', con=engine, if_exists='append', index=False)

24

15.request_channel table

In [ ]:
data_request_channel = pd.merge(data,data_channel,how = 'left',left_on = ['Open Data Channel Type'],
right_on = ['open_data_channel_type'])
data_request_channel = data_request_channel[['Unique Key','channel_id']]
data_request_channel.columns=['unique_key', 'channel_id']

In [ ]:
#load data
data_request_channel.to_sql(name='request_channel', con=engine, if_exists='append', index=False)

24

In [ ]:
16.bh_incident table

In [ ]:
bh_incident = pd.concat( [Timerecord_data['unique_key'],
                        bridge_highway_data['bridge_highway_id'].reset_index(drop=True)],axis = 1)
bh_incident.insert(0, 'bhincident_id', range(1, 1 + len(bh_incident)))

In [ ]:
#load data
bh_incident.to_sql(name='bh_incident', con=engine, if_exists='append', index=False)

24

In [ ]:
17.park_incident table

In [ ]:
park_incident = pd.concat( [Timerecord_data['unique_key'],
                        park_data['park_id'].reset_index(drop=True)],axis = 1)
park_incident.insert(0, 'pincident_id', range(1, 1 + len(park_incident)))

In [ ]:
park_incident.to_sql(name='park_incident', con=engine, if_exists='append', index=False)

24

In [ ]:
18.incident_address table

In [ ]:
incident_address = pd.concat( [Timerecord_data['unique_key'],
                        Addresses_data['address_id'].reset_index(drop=True)],axis = 1)
incident_address = pd.concat( [location_type_data['location_type_id'],
                               incident_address.reset_index(drop=True)],axis = 1)
incident_address = pd.concat( [data_geobased_location['geolocation_id'],
                               incident_address.reset_index(drop=True)],axis = 1)

In [ ]:
incident_address.to_sql(name='incident_address', con=engine, if_exists='append', index=False)

24